body {
    background-color: #064580;
}

.rectangle {
    background-color: #B2E1EC;
    top: -15%;
    height: 80px;
    padding-top: 2px;
}

.todosBts {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.bt {
    position: relative;
    background-color: #3BA2B9;
    border: 2px solid #3ba2b9dc;
    border-radius: 5px;
    height: 40px;
    width: 350px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  .bt:after {
    content: "";
    background: #3BA2B9;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .bt:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .botoes {
    float: right;
    margin-left: 10px;
  }

  .btInfo {
    position: relative;
    background-color: #3BA2B9;
    border: 2px solid #3ba2b9dc;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  .btInfo:after {
    content: "";
    background: #3BA2B9;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btInfo:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  /* section principal */

  .principal {
    background-color:#B2E1EC;
    margin-top: 50px;
    height: 330px;
    width: 95%;
    position: relative;
    left: 2%;

  }


  .tituloDiv{
    background-color: #3BA2B9;
    border: 2px solid #3ba2b9dc;
    border-radius: 10px;
    height: 40px;
    width: 350px;
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
    position: relative;
    top: 3%;
    left: 20%;
    transform: translate(-50%, 15%);
  }

  .txt {
    position: relative;
    top: 3%;
    left: 20%;
    transform: translate(-27%, 20%);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    height: 40px;
    width: 50%;
  }

  .img {
    background-color: #3BA2B9;
    border: 2px solid #3ba2b9dc;
    border-radius: 10px;
    border-radius: 10px;
    height: 250px;
    width: 280px;
    position: inherit;
    top: -33%;
    left: 73%;
    padding-left: 20px;
    padding-top: 20px;
}

.imagemDireita {
    padding-left: 8px;
    height: 250px;
    width: 250px;
}

.infoRectangle{
    background-color: #83BDF3;
    border-radius: 10px;
    position: relative;
    bottom: 160px;
    left: 20%;
    height: 100px;
    width: 50%;
    text-align: left;
    padding-top: 1%;
    padding-left: 2%;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.dot {
    height: 250px;
    width: 250px;
    background-color: #83BDF3;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 28px;
    left: 4%;
  }